<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <!-- <%- include('./partials/nav.ejs') %> -->

    <div class="about content">
        <h2>About Content</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque porro laborum repellendus rem! Autem, eum corrupti dignissimos deserunt tempore harum officia iusto a quod accusantium, amet commodi, similique molestias alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius magni accusantium corrupti qui ab? Ea minima, blanditiis maxime modi alias, ad pariatur officiis voluptas earum praesentium culpa at hic a.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil accusantium at corrupti voluptatibus. Earum adipisci beatae veniam quasi amet a magni, quae, consectetur cumque quod vel molestiae blanditiis necessitatibus ipsum!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>