<%- include('./partials/head') %>

<div class="homepage-background">
  <header class="header">
    <div class="headings">
      <h2 class="main-heading">Blog Platform</h2>
      <h3 class="sub-heading">By Arkwings C. Abala</h3>
      <a href="/blogs" class="btn">View Blogs</a>
    </div>
  </header>
</div>

<%- include('partials/footer'); -%>
